{{!--
This template is used for the posts that are marked as pages.
--}}
{{!< default}}

{{!-- This block preloads specific assets for the post page --}}
{{#contentFor "preload"}}
<link rel="preload" href="{{asset "css/post.css"}}" as="style" />
<link rel="preload" href="{{asset "js/page.js"}}" as="script" />
<title>Professional Works</title>
{{/contentFor}}

{{!-- This block loads specific styles for the post page --}}
{{#contentFor "styles"}}


{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{> header}}

{{!-- Hero --}}
<header id="hero-overlay" class="hero-overlay">
  <div class="bottom-box">
    <ul role="list" class="second-nav w-list-unstyled"></ul>
    <div class="text-block-4">Hi, I&#x27;m Can Burak Sofyalıoğlu. Welcome.</div>
  </div>
</header>

{{!-- Intro --}}
<div class="section-intro">
  <h1 class="title">Engineering, Design and Development</h1>
  <p class="description">I’m an engineer. I design and develop web apps and websites. I also provide technical
    consultancy and support to  SME’s (KOBİ).</p>
  <div class="html-embed w-embed">
    <hr style="height:4px;">
  </div>
</div>

{{!-- WORKS --}}
<h2 class="heading-10">Works</h2>
{{!-- Seablue --}}
  <section id="gallery-seablue" class="gallery">
    <div class="centered-container-4 w-container">
      <h2 class="heading-14">Seablue </h2>
      <p class="paragraph-16">Seablue provides luxury <a href="https://airporttransfer.ist" target="_blank" class="link-2">private transfer service</a> from Istanbul Airports.</p>
      <div class="gallery-grid-container-3">
        <a href="#" id="w-node-7eca7ad60fdb-13f33ecb" class="gallery-lightbox-3 w-inline-block w-lightbox"><img src="{{asset "images/full-page.jpg"}}" 
        alt="Private Airport Transfer" srcset="{{asset "images/full-page.jpg 500w, images/full-page.jpg 800w, images/full-page.jpg 1080w, images/full-page.jpg 1600w, images/full-page.jpg 1920w"}}" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 129.59375px, 172px" class="gallery-thumbnail-2">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "cdnUrl": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
      "width": 150,
      "height": 150,
      "fileName": "image-placeholder.svg",
      "origFileName": "image-placeholder.svg",
      "url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
      "_id": "example_img",
      "type": "image",
      "fileSize": 2063
    }
  ],
  "group": "gallery"
}</script>
        </a>
        <a href="#" id="w-node-7eca7ad60fdd-13f33ecb" class="gallery-lightbox-3 w-inline-block w-lightbox"><img src="{{asset "images/routes.jpg"}}" alt="Private yacht and helicopter service" 
        srcset="{{asset "images/routes.jpg 500w, images/routes.jpg 1080w, images/routes.jpg 1600w, images/routes.jpg 1920w"}}" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 129.59375px, 172px" class="gallery-thumbnail-2">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "cdnUrl": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
      "width": 150,
      "height": 150,
      "fileName": "image-placeholder.svg",
      "origFileName": "image-placeholder.svg",
      "url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
      "_id": "example_img",
      "type": "image",
      "fileSize": 2063
    }
  ],
  "group": "gallery"
}</script>
        </a>
        <a href="#" id="w-node-7eca7ad60fdf-13f33ecb" class="gallery-lightbox-3 w-inline-block w-lightbox"><img src="{{asset "images/hero.jpg"}}" alt="Private Luxury transfer service" 
        srcset="{{asset "images/hero.jpg 500w, images/hero.jpg 1920w"}}" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 129.59375px, 172px" class="gallery-thumbnail-2">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "cdnUrl": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
      "width": 150,
      "height": 150,
      "fileName": "image-placeholder.svg",
      "origFileName": "image-placeholder.svg",
      "url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
      "_id": "example_img",
      "type": "image",
      "fileSize": 2063
    }
  ],
  "group": "gallery"
}</script>
        </a>
        <a href="#" id="w-node-7eca7ad60fe1-13f33ecb" class="gallery-lightbox-3 w-inline-block w-lightbox"><img src="{{asset "images/assistant.jpg"}}" alt="private assistant" 
        srcset="{{asset "images/assistant.jpg 500w, images/assistant.jpg 1080w, images/assistant.jpg 1600w, images/assistant.jpg 1920w"}}" sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 129.59375px, 172px" class="gallery-thumbnail-2">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "cdnUrl": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
      "width": 150,
      "height": 150,
      "fileName": "image-placeholder.svg",
      "origFileName": "image-placeholder.svg",
      "url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
      "_id": "example_img",
      "type": "image",
      "fileSize": 2063
    }
  ],
  "group": "gallery"
}</script>
        </a>
      </div>
    </div>
  </section>

{{!-- La-Cuisinette --}}
<section id="gallery" class="la-cuisinette">
  <div class="centered-container w-container">
    <h2 class="heading-9">La-Cuisinette</h2>
    <p class="paragraph-10">La-Cuisinette is an organic and vegan pasta producer from Turkey. The project was designed
      and developed by me. E-commerce feature has also been implemented.</p>
    <div class="gallery-grid-container-2">
      <a href="#" id="w-node-b52b081c9363-081c935c" class="gallery-lightbox-2 w-inline-block w-lightbox"><img
          src="{{asset "images/sofra.jpg"}}"
          sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 104.65625px, 140px"
          srcset="{{asset "images/sofra-p-500.jpeg 500w, images/sofra-p-1080.jpeg 1080w, images/sofra-p-1600.jpeg 1600w, images/sofra.jpg 1903w"}}" alt="" class="gallery-thumbnail">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "cdnUrl": "./assets/images/image-placeholder.svg",
      "width": 150,
      "height": 150,
      "fileName": "image-placeholder.svg",
      "origFileName": "image-placeholder.svg",
      "url": "./assets/images/image-placeholder.svg",
      "_id": "example_img",
      "type": "image",
      "fileSize": 2063
    }
  ],
  "group": "gallery"
}</script>
        </a>
        <a href="#" id="w-node-b52b081c9365-081c935c" class="gallery-lightbox-2 w-inline-block w-lightbox"><img src="{{asset "images/ispanak-sayfa-small.jpg"}}"
          sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 104.65625px, 140px"
          srcset="{{asset "images/ispanak-sayfa-small-p-500.jpeg 500w, images/ispanak-sayfa-small-p-800.jpeg 800w, images/ispanak-sayfa-small.jpg 1000w"}}" alt="" class="gallery-thumbnail">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "cdnUrl": "./assets/images/image-placeholder.svg",
      "width": 150,
      "height": 150,
      "fileName": "image-placeholder.svg",
      "origFileName": "image-placeholder.svg",
      "url": "./assets/images/image-placeholder.svg",
      "_id": "example_img",
      "type": "image",
      "fileSize": 2063
    }
  ],
  "group": "gallery"
}</script>
        </a>
        <a href="#" id="w-node-b52b081c9367-081c935c" class="gallery-lightbox-2 w-inline-block w-lightbox"><img src="{{asset "images/organik-features.jpg"}}"
          sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 104.65625px, 140px"
          srcset="{{asset "images/organik-features-p-500.jpeg 500w, images/organik-features.jpg 1000w"}}" alt="" class="gallery-thumbnail">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "cdnUrl": "./assets/images/image-placeholder.svg",
      "width": 150,
      "height": 150,
      "fileName": "image-placeholder.svg",
      "origFileName": "image-placeholder.svg",
      "url": "./assets/images/image-placeholder.svg",
      "_id": "example_img",
      "type": "image",
      "fileSize": 2063
    }
  ],
  "group": "gallery"
}</script>
        </a>
        <a href="#" id="w-node-b52b081c9369-081c935c" class="gallery-lightbox-2 w-inline-block w-lightbox"><img src="{{asset "images/message-1.jpg"}}"
          sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 104.65625px, 140px"
          srcset="{{asset "images/message-1-p-500.jpeg 500w, images/message-1.jpg 1000w"}}" alt="" class="gallery-thumbnail">
          <script type="application/json" class="w-json">{
  "items": [
    {
      "cdnUrl": "./assets/images/image-placeholder.svg",
      "width": 150,
      "height": 150,
      "fileName": "image-placeholder.svg",
      "origFileName": "image-placeholder.svg",
      "url": "./assets/images/image-placeholder.svg",
      "_id": "example_img",
      "type": "image",
      "fileSize": 2063
    }
  ],
  "group": "gallery"
}</script>
        </a>
        <a href="#" id="w-node-b52b081c936b-081c935c" class="gallery-lightbox-2 w-inline-block w-lightbox"><img src="{{asset "images/message-2.jpg"}}"
          sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 104.65625px, 140px"
          srcset="{{asset "images/message-2-p-500.jpeg 500w, images/message-2.jpg 1000w"}}" alt=""
          class="gallery-thumbnail">
        <script type="application/json" class="w-json">{
  "items": [
    {
      "cdnUrl": "./assets/images/image-placeholder.svg",
      "width": 150,
      "height": 150,
      "fileName": "image-placeholder.svg",
      "origFileName": "image-placeholder.svg",
      "url": "./assets/images/image-placeholder.svg",
      "_id": "example_img",
      "type": "image",
      "fileSize": 2063
    }
  ],
  "group": "gallery"
}</script>
      </a>
    </div>
  </div>
</section>


{{!-- Livicom --}}
<section id="gallery" class="livicom">
  <div class="centered-container-3 w-container">
    <h2 class="heading-11">Livicom</h2>
    <p class="paragraph-11">Livicom Turkey is the authorised distributor of global smart security company of the same
      name. The project was developed by me.</p>
    <div class="gallery-grid-container-3">
      <a href="#" id="w-node-1887a7b5bc9e-a7b5bc97" class="gallery-lightbox-2 w-inline-block w-lightbox"><img
          src="{{asset "images/main-page.png"}}"
          sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 129.59375px, 172px"
          srcset="{{asset "images/main-page-p-500.png 500w, images/main-page-p-800.png 800w, images/main-page-p-1080.png 1080w, images/main-page.png 1893w"}}"
          alt="" class="gallery-thumbnail">
        <script type="application/json" class="w-json">{
  "items": [
    {
      "cdnUrl": "./assets/images/image-placeholder.svg",
      "width": 150,
      "height": 150,
      "fileName": "image-placeholder.svg",
      "origFileName": "image-placeholder.svg",
      "url": "./assets/images/image-placeholder.svg",
      "_id": "example_img",
      "type": "image",
      "fileSize": 2063
    }
  ],
  "group": "gallery"
}</script>
      </a>
      <a href="#" id="w-node-1887a7b5bca0-a7b5bc97" class="gallery-lightbox-2 w-inline-block w-lightbox"><img
          src="{{asset "images/full-page.png"}}"
          sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 129.59375px, 172px"
          srcset="{{asset "images/full-page-p-500.png 500w, images/full-page-p-800.png 800w, images/full-page-p-1080.png 1080w, images/full-page.png 1366w"}}"
          alt="" class="gallery-thumbnail">
        <script type="application/json" class="w-json">{
  "items": [
    {
      "cdnUrl": "./assets/images/image-placeholder.svg",
      "width": 150,
      "height": 150,
      "fileName": "image-placeholder.svg",
      "origFileName": "image-placeholder.svg",
      "url": "./assets/images/image-placeholder.svg",
      "_id": "example_img",
      "type": "image",
      "fileSize": 2063
    }
  ],
  "group": "gallery"
}</script>
      </a>
      <a href="#" id="w-node-1887a7b5bca2-a7b5bc97" class="gallery-lightbox-2 w-inline-block w-lightbox"><img
          src="{{asset "images/Livicom_main_960px_E.jpg"}}"
          sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 129.59375px, 172px"
          srcset="{{asset "images/Livicom_main_960px_E-p-500.jpeg 500w, images/Livicom_main_960px_E.jpg 960w"}}" alt=""
          class="gallery-thumbnail">
        <script type="application/json" class="w-json">{
  "items": [
    {
      "cdnUrl": "./assets/images/image-placeholder.svg",
      "width": 150,
      "height": 150,
      "fileName": "image-placeholder.svg",
      "origFileName": "image-placeholder.svg",
      "url": "./assets/images/image-placeholder.svg",
      "_id": "example_img",
      "type": "image",
      "fileSize": 2063
    }
  ],
  "group": "gallery"
}</script>
      </a>
      <a href="#" id="w-node-1887a7b5bca4-a7b5bc97" class="gallery-lightbox-2 w-inline-block w-lightbox"><img
          src="{{asset "images/Screenshot-from-2020-10-29-085233.png"}}"
          sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 129.59375px, 172px"
          srcset="{{asset "images/Screenshot-from-2020-10-29-085233-p-500.png 500w, images/Screenshot-from-2020-10-29-085233-p-800.png 800w, images/Screenshot-from-2020-10-29-085233-p-1080.png 1080w, images/Screenshot-from-2020-10-29-085233.png 1900w"}}"
          alt="" class="gallery-thumbnail">
        <script type="application/json" class="w-json">{
  "items": [
    {
      "cdnUrl": "./assets/images/image-placeholder.svg",
      "width": 150,
      "height": 150,
      "fileName": "image-placeholder.svg",
      "origFileName": "image-placeholder.svg",
      "url": "./assets/images/image-placeholder.svg",
      "_id": "example_img",
      "type": "image",
      "fileSize": 2063
    }
  ],
  "group": "gallery"
}</script>
      </a>
    </div>
  </div>
</section>


{{!-- Pixly --}}
<section id="gallery" class="pixly">
  <div class="centered-container-4 w-container">
    <h2 class="heading-12">Pixly (Retired)</h2>
    <p class="paragraph-13">Pixly is an AI-assisted movie recommendation engine. It suggests movies based on your cinema
      taste. It was my learning project. I learned my full-stack developing skills, search engine optimization and
      digital marketing knowledge while developing Pixly. </p>
    <div class="gallery-grid-container-3">
      <a href="#" id="w-node-e99011b19199-11b19192" class="gallery-lightbox-3 w-inline-block w-lightbox"><img
          src="{{asset "images/pixly-landing.jpg"}}"
          sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 129.59375px, 172px"
          srcset="{{asset "images/pixly-landing-p-500.jpeg 500w, images/pixly-landing-p-800.jpeg 800w, images/pixly-landing-p-1080.jpeg 1080w, images/pixly-landing.jpg 1446w"}}"
          alt="" class="gallery-thumbnail-2">
        <script type="application/json" class="w-json">{
  "items": [
    {
      "cdnUrl": "./assets/images/image-placeholder.svg",
      "width": 150,
      "height": 150,
      "fileName": "image-placeholder.svg",
      "origFileName": "image-placeholder.svg",
      "url": "./assets/images/image-placeholder.svg",
      "_id": "example_img",
      "type": "image",
      "fileSize": 2063
    }
  ],
  "group": "gallery"
}</script>
      </a>
      <a href="#" id="w-node-e99011b1919b-11b19192" class="gallery-lightbox-3 w-inline-block w-lightbox"><img
          src="{{asset "images/cannes.jpg"}}"
          sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 129.59375px, 172px"
          srcset="{{asset "images/cannes-p-500.jpeg 500w, images/cannes-p-800.jpeg 800w, images/cannes-p-1080.jpeg 1080w, images/cannes.jpg 1102w"}}"
          alt="" class="gallery-thumbnail-2">
        <script type="application/json" class="w-json">{
  "items": [
    {
      "cdnUrl": "./assets/images/image-placeholder.svg",
      "width": 150,
      "height": 150,
      "fileName": "image-placeholder.svg",
      "origFileName": "image-placeholder.svg",
      "url": "./assets/images/image-placeholder.svg",
      "_id": "example_img",
      "type": "image",
      "fileSize": 2063
    }
  ],
  "group": "gallery"
}</script>
      </a>
      <a href="#" id="w-node-e99011b1919d-11b19192" class="gallery-lightbox-3 w-inline-block w-lightbox"><img
          src="{{asset "images/profile.jpg"}}"
          sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 129.59375px, 172px"
          srcset="{{asset "images/profile-p-500.jpeg 500w, images/profile-p-800.jpeg 800w, images/profile-p-1080.jpeg 1080w, images/profile.jpg 1470w"}}"
          alt="" class="gallery-thumbnail-2">
        <script type="application/json" class="w-json">{
  "items": [
    {
      "cdnUrl": "./assets/images/image-placeholder.svg",
      "width": 150,
      "height": 150,
      "fileName": "image-placeholder.svg",
      "origFileName": "image-placeholder.svg",
      "url": "./assets/images/image-placeholder.svg",
      "_id": "example_img",
      "type": "image",
      "fileSize": 2063
    }
  ],
  "group": "gallery"
}</script>
      </a>
      <a href="#" id="w-node-e99011b1919f-11b19192" class="gallery-lightbox-3 w-inline-block w-lightbox">
        <img src="{{asset "images/similar-movies.jpg"}}"
          sizes="(max-width: 479px) 92vw, (max-width: 767px) 46vw, (max-width: 991px) 129.59375px, 172px"
          srcset="{{asset "images/similar-movies-p-500.jpeg 500w, images/similar-movies-p-800.jpeg 800w, images/similar-movies-p-1080.jpeg 1080w, images/similar-movies.jpg 1466w"}}"
          alt="" class="gallery-thumbnail-2">
        <script type="application/json" class="w-json">{
  "items": [
    {
      "cdnUrl": "./assets/images/image-placeholder.svg",
      "width": 150,
      "height": 150,
      "fileName": "image-placeholder.svg",
      "origFileName": "image-placeholder.svg",
      "url": "./assets/images/image-placeholder.svg",
      "_id": "example_img",
      "type": "image",
      "fileSize": 2063
    }
  ],
  "group": "gallery"
}</script>
      </a>
    </div>
  </div>
</section>


{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs 
<div style="display:flex;flex-direction: column; align-items: center;">
    <a target="_blank" href="https://creativecommons.org/choose/results-one?q_1=2&q_1=1&field_commercial=yes&field_derivatives=n&field_jurisdiction=&field_format=Text&field_worktitle=this+works+&field_attribute_to_name=&field_attribute_to_url=https%3A%2F%2Fwww.cbsofyalioglu.com&lang=en_EN&language=en_EN&n_questions=3">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" />
    </a>
</div>

--}}
{{#contentFor "scripts"}}
{{/contentFor}}