{{!--
This navigation template is shared across all the pages.
Also it includes the big submenu.
--}}

{{#if isSecondary}}
    {{#foreach navigation}}
      <a class="dropdown-link w-dropdown-link" href="{{url absolute="true"}}">{{label}}</a>
    {{/foreach}}
{{else}}
  {{#foreach navigation}}
      <a class="nav-link w-nav-link" href="{{url absolute="true"}}">{{label}}</a>
  {{/foreach}}
{{/if}}
